@font-face {
  font-family: 'Whitney';
  src: url('/fonts/SemiBold/Whitney-Semibold.eot');
  src: local('/fonts/SemiBold/Whitney Semibold Regular'), local('/fonts/SemiBold/Whitney-Semibold'),
        url('/fonts/SemiBold/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SemiBold/Whitney-Semibold.woff') format('woff'),
        url('/fonts/SemiBold/Whitney-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Book/Whitney-Book.eot');
  src: local('/fonts/Book/Whitney Book Regular'), local('/fonts/Book/Whitney-Book'),
      url('/fonts/Book/?#iefix') format('embedded-opentype'),
      url('/fonts/Book/Whitney-Book.woff') format('woff'),
      url('/fonts/Book/Whitney-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Whitney';
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
}

:root {
  --primary: #F25B24;
  --title_primary: #2E2D35;
  --text: #474351;
  --secondary: #918D9A;
  --bg_primary: #F8F8FA;
  --bg_secondary: #FFF;
  --btn_text: #fff;

  --shadow: 0px 4px 10px rgba(64, 40, 154, 0.05);
  --bradius: 4px;
  --transition: all ease 0.5s;
  --border: 1px solid #EFEDF6
}

.container {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}